{% block bodywidget %}
<div class="row md-col-12">
  
  {# Panel header du formulaire permet de définir un  titre pour le formulaire #}
  <div class="panel panel-primary">
    
    {# Titre du Formulaire #}
    <div class="panel-heading">
      <h3 class="panel-title"> <b> {{ w.wdgt_title }} </b></h3>
    </div>

    {# Body du panel aka Le Formulaire #}
    <div class="panel-body">
        {% for el in w.wdgt_list %}
            <li> {{ el }} </li>
        {% endfor % }
    </div>

  </div>
</div>
{% endblock %}
