{% extends "master.jinja" %}

{% block master_title %}
Learning TurboGears 2.4: Information about TG and WSGI
{% endblock %}

{% block master_head %}
<style>
.table {
  word-wrap: break-word;
  table-layout: fixed;
}
</style>
{% endblock %}

{% block contents %}
  <div class="row">
    <div class="col-xs-12">
      <h2>Serveur Hexagon - Runtime Environement inspection board</h2>

      <p>Cette page est affiché soit en mode Developpement ou pendant une période transitoire lors d'un upgrade majeur. </p>
      <p><b>Not for general use! Skip it!</b></p>

      <div class="table-responsive">
        <table class="table table-hover">
            {% for key in environment.keys()|sort %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ environment[key]|string }}</td>
            </tr>
            {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
