{% extends "master.jinja" %}
{% block master_title %}
Inspect Indices
{% endblock %}

{% block contents %}
<h1 class="dash-title">Situation des indices du marché au niveau de la Base Hexagon</h1>

<div class="row">
  <div class="col-md-12">
    <div class="card easion-card">
      <div class="card-header">
        <div class="easion-card-icon">
          <i class="fas fa-table"></i>
        </div>
        <div class="easion-card-title">Raw Indices (Brut)</div>
      </div>
      
      <div class="card-body">
        <table class="table table-hover table-in-card">
          <thead>
            <tr>
              <th scope="col">Code Indice</th>
              <th scope="col">Min Date</th>
              <th scope="col">Max Date</th>
              <th scope="col">Count</th>
            </tr>
          </thead>
          
          <tbody>
            {% for el in data['raw_indice_value'] %}
              <tr>
                {% for k in ['code', 'min_date', 'max_date', 'count'] %}
                  <td>{{ el[k] }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
            
          </tbody>

        </table>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card easion-card">
      <div class="card-header">
        <div class="easion-card-icon">
          <i class="fas fa-table"></i>
        </div>
        <div class="easion-card-title">Valeurs Indices</div>
      </div>
      
      <div class="card-body">
        <table class="table table-hover table-in-card">
          <thead>
            <tr>
              <th scope="col">Code Indice</th>
              <th scope="col">Min Date</th>
              <th scope="col">Max Date</th>
              <th scope="col">Count</th>
            </tr>
          </thead>
          
          <tbody>
            {% for el in data['indice_value'] %}
              <tr>
                {% for k in ['code_indice', 'min_date', 'max_date', 'count'] %}
                  <td>{{ el[k] }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
            
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
