{% extends "master.jinja" %}

{% block master_title %}
{{ page_title }}
{% endblock %}

{% block contents %}
<div class="row md-col-12">
  
  {# Panel header du formulaire permet de définir un  titre pour le formulaire #}
  <div class="panel panel-primary">
    
    {# Titre du Formulaire #}
    <div class="panel-heading">
      <h3 class="panel-title"> <b> {{ frm_title }} </b></h3>
    </div>

    {# Body du panel aka Le Formulaire #}
    <div class="panel-body">
      {% if twdico == None %}
        {{ h.Markup(twform.display()) }}
      {% else %}
        {{ h.Markup(twform.display(**twdico)) }}
      {% endif %}
    </div>

  </div>
</div>
{% endblock %}
