<!doctype html>
<html lang="en">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="charset={{ response.charset }}"/>
    
    {% block master_head %} {% endblock %}

    <title>{% block master_title %} {% endblock %}</title>
    
    <link rel="icon" type="image/png" href="{{ tg.url('/img/ckg-fav-75.png') }}">
    <link rel="shortcut icon" type="image/png" href="{{ tg.url('/img/ckg-fav-75.png') }}">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,600|Open+Sans:400,600,700">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {# <link rel="stylesheet" href="{{ tg.url('/css/bootstrap.min.css') }}"> #}
    <link rel="stylesheet" href="{{ tg.url('/css/easion.css') }}">
  </head>

  <body>
    <div class="dash">
      <!-- NAV BAR | MENUS -->
      <div class="dash-nav dash-nav-dark">
        <header>
          <a href="#!" class="menu-toggle">
            <i class="fas fa-bars"></i>
          </a>
          <a href="{{ tg.url('/') }}" class="easion-logo">
            <img src="{{ tg.url('/img/ckg_logo.png') }}" height="30" alt="CKG-LOGO"/>
            {# {{tmpl_context.project_name}} #}
          </a>
        </header>

        <nav class="dash-nav-list">
          <a href="{{ tg.url('/') }}" class="dash-nav-item">
            <i class="fas fa-home"></i> Accueil </a>
          <!-- RUBRIQUE REPORTING -->
          <div class="dash-nav-dropdown">
            <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle"><i class="fas fa-chart-line"></i> Reporting </a>
              <div class="dash-nav-dropdown-menu">
                <a class="dash-nav-dropdown-item" href="{{ tg.url('/reporting_opcvm') }}">Rapport global OPCVM </a>
                <a class="dash-nav-dropdown-item" href="{{ tg.url('/template_generator') }}">Template generator GAMME</a>
                <a class="dash-nav-dropdown-item" href="{{ tg.url('/template_generator/auto_fill_one') }}">Template generator ONE</a>
                <a class="dash-nav-dropdown-item" href="{{ tg.url('/veille') }}">Veille concurrentielle </a>
                <a class="dash-nav-dropdown-item" href="{{ tg.url('/panel_indices') }}">Indices Marché </a>
                <a class="dash-nav-dropdown-item" href="{{ tg.url('/panel_fonds') }}">Panel Fonds-Benchmark </a>
              </div>
          </div>

          <!-- Rapports spécifiques clientèle -->
          <!-- <div class="dash-nav-dropdown">
            <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle"><i class="fas fa-clipboard-list"></i>Rapports </a>
              <div class="dash-nav-dropdown-menu">
                <a class="dash-nav-dropdown-item" href="{{ tg.url('/') }}">Inventaires </a>
                <a class="dash-nav-dropdown-item" href="{{ tg.url('/') }}">Opérations </a>
                <a class="dash-nav-dropdown-item" href="{{ tg.url('/') }}">Historique VL </a>
                <a class="dash-nav-dropdown-item" href="{{ tg.url('/') }}">Historique Indices </a>
              </div>
          </div> -->

          <!-- RUBRIQUE INSPECT -->
          <div class="dash-nav-dropdown">
            <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle"><i class="fas fa-crosshairs"></i> Inspect DB </a>
              <div class="dash-nav-dropdown-menu">
                <a class="dash-nav-dropdown-item" href="{{ tg.url('/inspect/inspect_indices') }}">Etat indices </a>
                {# <a class="dash-nav-dropdown-item" href="{{ tg.url('/') }}"> Check Benchmark </a> #}
              </div>
          </div>

          <!-- RUBRIQUE REFERENCES HEXAGON -->
          <div class="dash-nav-dropdown">
            <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle"><i class="fas fa-flask"></i> Documentation </a>
              <div class="dash-nav-dropdown-menu">
                <a class="dash-nav-dropdown-item" href="{{ tg.url('/doc') }}"> Librairie </a>
                <a class="dash-nav-dropdown-item" href="{{ tg.url('/doc/keywords') }}"> Keywords </a>
              </div>
          </div>

          <!-- RUBRIQUE API -->
          <div class="dash-nav-dropdown">
            <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle"><i class="fas fa-cubes"></i> API </a>
              <div class="dash-nav-dropdown-menu">
                <a class="dash-nav-dropdown-item" href="{{ tg.url('http://127.0.0.1:8000/redoc') }}"> Documentation </a>
                <a class="dash-nav-dropdown-item" href="{{ tg.url('http://127.0.0.1:8000/docs') }}"> Tester API </a>
              </div>
          </div>

        </nav>
      </div>
      
      <div class="dash-app">
        <header class="dash-toolbar">
          <a href="#!" class="menu-toggle">
            <i class="fas fa-bars"></i>
          </a>
          <div class="easion-card-title col-xl-6 offset-4">
            <h3> <i class="far fa-gem"></i> HEXAGON </h3>
          </div>
          <div class="tools">
            <a href="#" class="">
              <i class="fas fa-user"></i>
            </a>
          </div>
        </header>
        
        <main class="dash-content">
          <div class="container-fluid">
            {% block contents %} {% endblock %}
          </div>
          
          {# <!-- Flash Container -->
          <div class="container">
            {% with flash=tg.flash_obj.render('flash', use_js=False) %}
              <div class="col-md-8 col-md-offset-2">
                <div class="alert alert-primary" role="alert"> {{ flash|safe }} </div>
              </div>
            {% endwith %}
          
          </div> #}
        </main>  
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ tg.url('/javascript/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ tg.url('/javascript/easion.js') }}"></script>
    {% block scripts_embed %} {% endblock %}
  </body>
</html>
