<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="charset={{ response.charset }}"/>
  
  {% block master_head %} {% endblock %}

  <title>{% block master_title %} {% endblock %}</title>
  
  <link rel="icon" type="image/png" href="{{tg.url('/img/ckg-fav-75.png')}}">
  <link rel="shortcut icon" type="image/png" href="{{tg.url('/img/ckg-fav-75.png')}}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen"href="{{tg.url('/css/toastr.min.css')}}" />
  <link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/style.css')}}" />
</head>

<body>
    <!-- Navbar -->
  <nav class="navbar navbar-expand-md sticky-top navbar-light bg-light">
    <a class="navbar-brand" href="{{tg.url('/')}}">
      <img src="{{tg.url('/img/ckg_logo.png')}}" height="30" alt="CKG-LOGO"/>
      {{tmpl_context.project_name}}
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="navbar-collapse collapse" id="navbar-content" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if page == 'index' %}active{% endif %}">
        <a class="nav-link" href="{{ tg.url('/') }}">Accueil</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="menu-reporting" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reporting
        </a>
        <div class="dropdown-menu" aria-labelledby="menu-reporting">
          <a class="dropdown-item" href="{{ tg.url('/reporting_opcvm') }}">OPCVM Dédiés</a>
          <a class="dropdown-item" href="{{ tg.url('/veille') }}">OPCVM Marché</a>
          <a class="dropdown-item" href="{{ tg.url('/template_generator') }}">TEMPLATE GENERATOR</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="menu-performance" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Performance
        </a>
        <div class="dropdown-menu" aria-labelledby="menu-performance">
          <a class="dropdown-item" href="#">Performance Indices</a>
          <a class="dropdown-item" href="#">Peformance OPCVM</a>
          <a class="dropdown-item" href="#">Performance Fonds-Bench</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="menu-rapports" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Rapports
        </a>
        <div class="dropdown-menu" aria-labelledby="menu-rapports">
          <a class="dropdown-item" href="{{ tg.url('/operations/rapports_axa') }}">Rapports AXA</a>
          <a class="dropdown-item" href="{{ tg.url('/rappors/clients?promoteur=RCAR') }}">Rapports RCAR</a>
        </div>
      </li>

      <li class="nav-item {% if page == 'doc' %}active{% endif %}">
        <a class="nav-link" href="{{ tg.url('/doc') }}">Documentation</a>
      </li>
      <li class="nav-item {% if page == 'keywords' %}active{% endif %}">
        <a class="nav-link" href="{{ tg.url('/doc/keywords') }}">Keywords Template</a>
      </li>
      <li class="nav-item {% if page == 'environ' %}active{% endif %}">
        <a class="nav-link" href="{{ tg.url('/environ') }}">WSGI EnvInspect</a>
      </li>
      <li class="nav-item {% if page == 'lab' %}active{% endif %}">
        <a class="nav-link" href="{{ tg.url('/lab') }}">Laboratory</a>
      </li>

      {% if tg.auth_stack_enabled %}
        {% if request.identity %}
          <li class="nav-item float-right">
            <a class="nav-link" href="{{tg.url('/logout_handler')}}">Logout</a>
          </li>
          <li class="nav-item float-right">
            <a class="nav-link" href="{{tg.url('/admin')}}">Admin</a>
          </li>
        {% else %}
          <li class="nav-item float-right">
            <a class="nav-link" href="{{tg.url('/login')}}">Login</a>
          </li>
        {% endif %}
      {% endif %}

    </ul>
   {#  <form class="form-inline my-2 my-md-0">
      <input class="form-control" type="text" placeholder="Search">
    </form> #}
  </div>
</nav>

  <div class="container">
    <!-- Flash library init -->
    {# <script src="{{ tg.url('/javascript/jquery.min.js') }}"></script>
    <script src="{{ tg.url('/javascript/bootstrap.min.js') }}"></script> #}
    <!-- Flash messages -->
    {% with flash=tg.flash_obj.render('flash', use_js=False) %}
      <div class="container">
        <div class="col-md-8 col-md-offset-2">
          {{ flash|safe }}
        </div>
      </div>
    {% endwith %}

    {% block contents %} {% endblock %}
  </div>
  <!-- Footer -->

  <footer class="footer py-2 bg-dark text-white-50">
    <div class="container">
      Hexagon DataShop <img src="{{tg.url('/img/hexagon-data.svg')}}" height="20"> - {{h.current_year()}}
    </div>
      <a class="pull-right" href="http://www.cdgcapitalgestion.ma">
          <img style="" src="{{tg.url('/img/ckg_logo.png')}}" width="200" height="40"/>
      </a>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  {% block scripts_embed %} {% endblock %}

</body>
</html>
