{% extends "master.jinja" %}

{% block master_title %}
  {{ page_title }}
{% endblock %}

{% block contents %}
<div class="container-fluid">
  <div class="container col-md-8">
    {# Génération du Formulaire de Marché OPCVM en PANEL #}
    <div class="card easion-card">
      <div class="card-header">
        <div class="easion-card-icon">
          <i class="fas fa-chart-bar"></i>
        </div>
        <div class="easion-card-title">
          {{ frm_dico['frm_title'] }}
        </div>
      </div>
      <div class="card-body">
        <form action="{{tg.url('/api/reporting/auto_generate_one')}}" method="GET" accept-charset="UTF-8">
          {# Date début #}
          <div class="form-group">
            <label class="control-label">Date de début</label>
            <input class="form-control" type="date" value="{{ frm_dico['date_debut'] }}" name="date_debut" min="{{ frm_ctxt['mindate'] }}" max="{{ frm_ctxt['maxdate'] }}" placeholder="Date de début" autofocus/>
          </div>
          
          {# Date Fin #}
          <div class="form-group">
            <label class="control-label">Date de fin</label>
            <input class="form-control" type="date" value="{{ frm_dico['date_fin'] }}" name="date_fin" min="{{ frm_ctxt['mindate'] }}" max="{{ frm_ctxt['maxdate'] }}" placeholder="Date de fin"/>
          </div>

          {# Fonds Concerné #}
          <div class="form-group">
            <label class="control-label">Période</label>
            <select class="form-control" name="periode">
              {% for el in frm_dico['liste_periodes'] %}
                <option value="{{el}}">{{el}}</option>
              {% endfor %}
            </select>
          </div>

          {# Fonds Catégorie #}
          <div class="form-group">
            <label class="control-label">Code Fonds</label>
            <select class="form-control" name="code_fonds">
              {% for el in frm_dico['liste_fonds'] %}
                <option value="{{el}}">{{el}}</option>
              {% endfor %}
            </select>
          </div>
          {# Le boutton est à Mettre au centre et au Footer du Panel #}
          <button type="submit" class="btn btn-primary">Générer Rapport</button>
        </form>
      </div>
    </div> <!-- End of Panel-->
  </div> <!-- End of Panel container -->
</div>
{% endblock %}
