{% extends "master.jinja" %}

{% block master_title %}
  {{ page_title }}
{% endblock %}

{% block contents %}
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 m-0">
        {# Génération du Formulaire de Marché OPCVM en PANEL #}
        <div class="card border border-primary">
        {# Titre du Formulaire #}
        <div class="card-header bg-primary text-white">
          <h3 class="card-title"> <b> {{frm_dico['frm_title']}} </b></h3>
        </div>

        <form action="{{tg.url('/veille/generate_veille_analytics')}}" method="POST" accept-charset="UTF-8">
          {# Body du formulaire-Panel (Champs du Formulaire) #}
          <div class="card-body border border-primary">

            {# Date début #}
            <div class="form-group">
              <label class="control-label">Date de début</label>
              <input class="form-control" type="date" value="{{ frm_dico['dt_debut'] }}" name="dt_debut" min="{{ frm_ctxt['mindate'] }}" max="{{ frm_ctxt['maxdate'] }}" placeholder="Date de début" autofocus/>
            </div>
            
            {# Date Fin #}
            <div class="form-group">
              <label class="control-label">Date de fin</label>
              <input class="form-control" type="date" value="{{ frm_dico['dt_fin'] }}" name="dt_fin" min="{{ frm_ctxt['mindate'] }}" max="{{ frm_ctxt['maxdate'] }}" placeholder="Date de fin"/>
            </div>

            {# CheckBox Generator based on field submitted by default from the controller #}
            <div class="checkbox">
              <label class="control-label">
                {% if frm_dico['audit'] == True %}
                  <input type="checkbox" name="audit" for="audit" checked="on"> Audit (Eléments de calcul)
                {% else %}
                  <input type="checkbox" name="audit"> Audit (Eléments de calcul)
                {% endif %}
              </label>
            </div>

            {# CheckBox Generator based on field submitted by default from the controller #}
            <div class="checkbox">
              <label class="control-label">
                {% if frm_dico['data_only'] == True %}
                  <input type="checkbox" name="data_only" for="data_only" checked="on"> Data Only (Fichier de données)
                {% else %}
                  <input type="checkbox" name="data_only"> Data Only (Fichier de données)
                {% endif %}
              </label>
            </div>
          </div>  <!-- End of Panel Body -->

          {# Le boutton est à Mettre au centre et au Footer du Panel #}
          <div class="card-footer">
            <button type="submit" class="btn btn-default">Générer Rapport</button>
          </div>

        </form>
        </div> <!-- End of Panel-->
      </div> <!-- End of Panel container -->

    </div>
  </div>
</div>
{% endblock %}
